<div>

    <div class="tab-pane active" id="menu">
        <div class="photo-container text-center">
            <a ui-sref="profile">
                <img src="images/profile1.jpg" alt="" class="img-circle dash-profile"/>
            </a>
            <div class="t-p">
                <a href="">{{user.firstname}} {{user.lastname}}</a>
            </div>

        </div>
        <div class="section-heading">Menu</div>
        <ul class="nav sidebar-nav">
            <li ng-class="{active: $state.includes('home')}">
                <a ui-sref="home" ng-click="showSubNav(0)">
                    <i class="fa fa-home"></i>
                    <span class="menu-text">Accueil</span></a>
            </li>

            <li ng-class="{active: $state.includes('recipes')}">
                <a ui-sref="recipes" ng-click="showSubNav(0)">
                    <i class="fa fa-file-o"></i>
                    <span class="menu-text">Livre des recettes</span>
                </a>
            </li>

            <!--<li ng-class="{active: $state.includes('newrecipe')}">-->
                <!--<a ui-sref="newrecipe" ng-click="showSubNav(0)">-->
                    <!--<i class="fa fa-file-o"></i>-->
                    <!--<span class="menu-text">Nouvelle recette</span>-->
                <!--</a>-->
            <!--</li>-->

            <li ng-class="{active: $state.includes('producers')}">
                <a ui-sref="producers" ng-click="showSubNav(0)">
                    <i class="fa fa-file-o"></i>
                    <span class="menu-text">Voir les producteurs</span>
                </a>
            </li>
            <li ng-class="{active: $state.includes('progression')}">
                <a ui-sref="progression" ng-click="showSubNav(0)">
                    <i class="fa fa-file-o"></i>
                    <span class="menu-text">Ma progression</span>
                </a>
            </li>
            <li ng-class="{active: $state.includes('taste')}">
                <a ui-sref="taste" ng-click="showSubNav(0)">
                    <i class="fa fa-file-o"></i>
                    <span class="menu-text">Mes goûts</span>
                </a>
            </li>
        </ul>
    </div>
</div>