<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='UserMapper'>

  <!-- Instead of referencing Fully Qualified Class Names we can register Aliases in mybatis-config.xml and use Alias names. -->
  <resultMap type='Member' id='MemberResult'>
    <id property='memberId' column='id_member'/>
    <result property='username' column='username'/>
    <result property='firstname' column='firstname'/>
    <result property='lastname' column='lastname'/>
    <result property='email' column='email'/>
    <result property='birthday' column='birthday'/>
    <result property='gender' column='gender'/>
    <result property='city' column='city'/>
    <result property='currentAvatar' column='current_avatar'/>
    <result property='creationDate' column='creation_date'/>
    <result property='modifDate' column='modif_date'/>
    <result property='disabled' column='disabled'/>
  </resultMap>
</mapper>