
<div class="row">
    <div class="lateral-nav col-md-2">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active"><a>Acceuil</a></li>
            <li role="presentation"><a>Recettes</a></li>
        </ul>
    </div>

    <div class="col-md-10 recette-block" ng-controller="ListRecipeController as recetteCtrl">
        <div class="recette-thumbnails">
            <h2 class="text-center nav-title">Recettes</h2>            
            <div class="thumbnail" ng-repeat="recette in recetteCtrl.recettes">
                <img src="" alt="...">
                <div class="caption">
                    <h3>{{recette.name}}</h3>
                    <p>{{recette.description}}</p>
                    <p><a href="" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

