
<div class="row">
    <div class="col-md-2">
    	<ng-include src="'../includes/main-menu.html'"></ng-include>
	</div>

    <div class="col-md-10" ng-controller="ListRecipeController as recetteCtrl">
    <div class="recette-block" >
    <div class="recette-thumbnails">
            <h2 class="text-center nav-title">Recettes</h2>            
            <div class="thumbnail col-sm-6 col-md-4" ng-repeat="recipe in recipes">
                <img src="" alt="...">
                <div class="caption">
                    <h3>{{recipe.name}}</h3>
                    <p>{{recipe.description}}</p>   
                                     
                    <p><a href="#/recipe/{{recipe.idRecipe}}" class="btn btn-primary" role="button">Consulter</a></p>
                </div>
            </div>
        </div>
    </div>
        
    </div>
</div>

