<div ng-controller="registerCtl">
	<form novalidate class="simple-form">
	
		<div class="input-group">
			<span class="input-group-addon">Firstname</span>
			<input type="text" class="form-control" id="firstname" placeholder="Type your firstame" ng-model="user.firstname">
		</div>
		
		<div class="input-group">
			<span class="input-group-addon">Lastname</span>
			<input type="text" class="form-control" id="lastname" placeholder="Type your lastname" ng-model="user.lastname">
		</div>
		
		<label for="firstname">Gender</label>
		<div class="radio">
			<label>
				<input type="radio" name="lastname" id="lastname" ng-model="user.gender" value="male" />Male
			</label>
		</div>
		<div class="radio">
	  		<label>
	  			<input type="radio" name="lastname" id="lastname" ng-model="user.gender" value="female" />Female
  			</label>
		</div>
		
		<div class="input-group">
			<span class="input-group-addon">Birthday</span>
			<input type="text" class="form-control" id="birthday" placeholder="Type your birthday" ng-model="user.birthday">
		</div>
		
		<div class="input-group">
			<span class="input-group-addon">City</span>
			<input type="text" class="form-control" id="city" placeholder="Type your city" ng-model="user.city">
		</div>
		
		<div class="input-group">
			<span class="input-group-addon">Email</span>
			<input type="text" class="form-control" id="email" placeholder="Type your email" ng-model="user.email">
		</div>
		
		<div class="input-group">
			<span class="input-group-addon">Username</span>
			<input type="text" class="form-control" id="username" placeholder="Type your username" ng-model="user.username">
		</div>
		
		<div class="input-group">
			<span class="input-group-addon">Password</span>
			<input type="password" class="form-control" id="password" placeholder="Type your password" ng-model="user.password">
			<input type="password" class="form-control" id="password_bis" placeholder="Retype your password" ng-model="user.password_bis">
		</div>

		<label class="control-label">Select your avatar</label>
		<input id="input-1" type="file" class="file" ng-model="user.currentAvatar">

		<div class="form-group">
			<input type="button" ng-click="reset()" value="Reset" />
			<input type="submit" ng-click="update(user)" value="Save" />
		</div>
	</form>
</div>
