<div class="" style="padding:17px;"  ng-controller="RegisterController as RegisterCtrl">
    <form role="Registerform" name="Form" class="form" id="formRegister" ng-submit="RegisterCtrl.register()"> 
    	<div class="form-group">
    		<label for="firstname">Firstname :</label>
        	<input class="form-control" name="firstname" id="firstname" type="text" placeholder="Type your firstame" ng-model="user.firstname" required>
        </div>
        <div class="form-group">
    		<label for="lastname">lastname :</label>
        	<input class="form-control" name="lastname" id="lastname" type="text" placeholder="Type your lastname" ng-model="user.lastname" required>
        </div>
		<label for="gender">Gender</label>
		<div class="radio">
			<label>
				<input type="radio" name="gender" id="gender" ng-model="user.gender" value="male" />Male
			</label>
		</div>
		<div class="radio">
	  		<label>
	  			<input type="radio" name="gender" id="gender" ng-model="user.gender" value="female" />Female
  			</label>
		</div>
        <div class="form-group">
    		<label for="birthday">birthday :</label>
        	<input class="form-control" name="birthday" id="birthday" type="text" placeholder="Type your birthday" ng-model="user.birthday" required>
        </div>
        <div class="form-group">
    		<label for="city">city :</label>
        	<input class="form-control" name="city" id="city" type="text" placeholder="Type your city" ng-model="user.city" required>
        </div>
        <div class="form-group">
    		<label for="email">email :</label>
        	<input class="form-control" name="email" id="email" type="text" placeholder="Type your email" ng-model="user.email" required>
        </div>
        <div class="form-group">
    		<label for="username">username :</label>
        	<input class="form-control" name="username" id="username" type="text" placeholder="Type your username" ng-model="user.username" required>
        </div>
        <div class="form-group">
    		<label for="password">password :</label>
        	<input class="form-control" name="password" id="password" type="password" placeholder="Type your password" ng-model="user.password" required>
        </div>
        <label class="control-label">Select your avatar</label>
		<input id="input-1" type="file" class="file" ng-model="user.currentAvatar">
        <br>	
        <button id="btnRegister" role="submit" class="btn btn-success btn-block">Register</button>
    </form>
</div>