<div class="heading">Create your Account</div>
<div class="input">
	<form class="form-horizontal" role="form" ng-submit="submit()">
		<input type="hidden" name="_token" value="6z7mfMW1GwKzG2sgsG9icqN1bfcJTooGwIOySP22">
		<div class="login-input-group">
			<span class="login-input-group-addon" id="basic-addon3"><i class="fa fa-user fa-fw"></i></span>
			<input type="text" class="here form-control" placeholder="name" aria-describedby="basic-addon2" name="name" value="">
		</div>
		<div class="login-input-group">
			<span class="login-input-group-addon" id="basic-addon1"><i class="fa fa-at fa-fw"></i></span>
			<input type="email" class="here form-control" placeholder="email" aria-describedby="basic-addon1" name="email" value="">
		</div>
		<div class="login-input-group">
			<span class="login-input-group-addon" id="basic-addon2"><i class="fa fa-key fa-fw"></i></span>
			<input type="password" class="here form-control" placeholder="password" aria-describedby="basic-addon2" name="password">
		</div>
		<div class="login-input-group">
			<span class="login-input-group-addon" id="basic-addon2"><i class="fa fa-key fa-fw"></i></span>
			<input type="password" class="here form-control" placeholder="confirm password" aria-describedby="basic-addon2" name="password_confirmation">
		</div>
		<button type="submit" class="btn btn-default btn-lg submit">Signup</button>
	</form>
</div>
<div class="rightFooter">
	<a ui-sref="login">Already have an Account?</a>
</div>