<div class="login-block">
	<div class="dropdown" id="menuLogin">
		<button class="btn btn-primary dropdown-toggle" href="#" data-toggle="dropdown" id="navLogin">Login</button>
		<button class="btn btn-default"><a href="">logout</a></button>
		<div class="dropdown-menu" style="padding:17px;">
			<form ng-controller="loginCtrl" class="form" id="formLogin"> 
				<input name="username" id="username" type="text" placeholder="Username"> 
				<input name="password" id="password" type="password" placeholder="Password"><br>
				<a href="#/login" id="btnLogin" class="btn btn-success">Login</a>
			</form>
		</div>
	</div>
</div>