<div class=" col-md-10 col-md-offset-1 alert alert-white">
    <div class="col-md-4 form-group">
        <span>Type de plat : </span>
        <div class="btn-group ">
            <label class="btn btn-primary" ng-model="typePlat" uib-btn-radio="'Entree'">Entrée</label>
            <label class="btn btn-primary" ng-model="typePlat" uib-btn-radio="'Plat'">Plat</label>
            <label class="btn btn-primary" ng-model="typePlat" uib-btn-radio="'Dessert'">Dessert</label>
        </div>
    </div>

    <div class="col-md-4 form-group">
        <span>Nom de la recette : </span>
        <input type="text" ng-model="search">
    </div>

    <div class="col-md-4 form-group">
        <span> </span>
        <a ui-sref="newrecipe" class="btn btn-primary">Ajouter une recette</a>
    </div>

</div>