<link href="js/recipe/recipe.css" rel="stylesheet" type="text/css">

<pageheader pagename="{{recipe.name}}" subtitle="Informations sur la recette"></pageheader>

<div class="conter-wrapper" ng-controller="recipeShowCtrl">

    <div class="col-md-6">
        <cc-recipe-main-picture></cc-recipe-main-picture>
    </div>
    <div class="container-fluid row">
        <div class="col-md-6 ">
            <cc-recipe-infos></cc-recipe-infos>
        </div>
    </div>

    {{recipe.mainPicture}}
</div>


