<link href="js/recipe/recipe.css" rel="stylesheet" type="text/css">

<pageheader pagename="{{recipe.name}}"
	subtitle="Informations sur la recette"></pageheader>

<div class="conter-wrapper" ng-controller="recipeShowCtrl">
	<div class="row">

		<div class="col-md-6">
			<cc-recipe-main-picture></cc-recipe-main-picture>
		</div>

		<div class="col-md-6 ">
			<cc-recipe-infos></cc-recipe-infos>
		</div>
	</div>

	<div class="row">

		<div class="col-md-4">
			<cc-recipe-ingredients></cc-recipe-ingredients>
		</div>


		<div class="col-md-8">
			<cc-recipe-steps></cc-recipe-steps>
		</div>
	</div>
	<div class="row">
		<modal-dialog class="text-center" show='modalShown' width='400px'
			height='60%'>
		<h3 class="text-center">Producteurs de {{ingredientName}} :</h3>
		<div ng-show="producers">
			<ul>
				<li ng-repeat="producer in producers"><a
					ui-sref="producer({idProducer: '{{producer.idProducer}}'})">{{producer.name}}</a>
					de {{producer.city}}</li>
			</ul>
		</div>
		<div ng-show="!producers">
		<p>Aucun producteur de cet ingredient n'est renseigné sur le site</p>
		</div>

		</modal-dialog>
	</div>

	<div class="row">

		<div class="col-md-12">
			<cc-recipe-comments></cc-recipe-comments>
		</div>

	</div>

</div>


