<!-- affichage des ingredients -->
<div ng-if="recipe.ingredients.length > 0">

    <div class="list-group">
        <div class="list-group-item active"><h3 class="list-group-item-heading"> Ingrédients </h3></div>

        <div class="list-group-item">
            <div class="list-group-item-text">
                <ul>

                    <li ng-repeat="ingredient in recipe.ingredients">
                        {{ingredient.ingredient.name}} : {{ingredient.quantity}} {{ingredient.unitOfMeasurement}}
                        <!--<span ng-repeat="producer in ingredient.ingredient.producers">-->
                        <!--<a ui-sref="producer({ idProducer: producer.idProducer })">{{producer.name}}</a> ({{producer.city}}),-->
                        <!--</span>-->
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>