
<div class="row">
    <div class="col-md-4 col-md-offset-8">
        <dciv class="login-block" ng-controller="LoginController as loginCtrl" >

            <div class="dropdown" id="menuLogin">
                <button class="btn btn-primary dropdown-toggle" ng-show="!loginCtrl.user.logged" href="#" data-toggle="dropdown" id="navLogin">Login</button>

                <div class="logged">
                    <p ng-show="loginCtrl.user.logged">{{user.username}}</p>
                    <button class="btn btn-default" ng-show="loginCtrl.user.logged" ng-click="loginCtrl.logout()">logout</button>
                </div>

                <div class="dropdown-menu" style="padding:17px;">
                    <form name="loginForm" class="form" id="formLogin" ng-submit="loginForm.$valid && loginCtrl.login()" novalidate> 
                        <input name="username" id="username" type="text" placeholder="Username" ng-model="user.username" required> 
                        <input name="password" id="password" type="password" placeholder="Password" ng-model="user.password" required><br>
                        <button id="btnLogin" role="submit" class="btn btn-success">Login</button>
                    </form>
                </div>
            </div>
        </div>                     
           </div>	
</div>

<!--LOGO-->
<div class="row">
    <div id="logo">
        <img class="img-responsive center-block" src="img/coq.gif" width="150px" height="150px" alt="logo_coq">
        <h1 class="text-center">Cookorico</h1>
    </div>
</div>