<link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css" />
<link rel="stylesheet" href="bower_components/textAngular/src/textAngular.css" />
<link rel="stylesheet" href="bower_components/fullcalendar/fullcalendar.css" />
<link rel="stylesheet" href="bower_components/perfect-scrollbar/src/perfect-scrollbar.css" />
<link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css" />
<link rel="stylesheet" href="bower_components/c3/c3.css" />
<link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
<link rel="stylesheet" href="bower_components/angular-growl-v2/build/angular-growl.css" />
<!-- endbower -->
<!-- endbuild -->

<link rel="stylesheet" href="styles/app-green.css" />
