#ALaUne {
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.thumbnail-carousel {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    border-radius: 0;
    border: none;
    background-color: none;
}

.carousel-control {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 15%;
    opacity: .5;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: none;
}
.carousel-control.left {
    background-image: none;
}
.carousel-control.right {
    left: auto;
    right: 0;
    background-image: none;
}

.carousel-control {
    padding-top:10.25%;
    width:5%;
}


#logo{
    padding-bottom:15px; 
    padding-top: 15px;
}


#screen-website{
    margin: auto;
    border-bottom: 1px solid;
}

#screen-website > img {
    width: 70%;
    padding-top: 10px;
    padding-bottom: 10px;
}







.comment-block {
    width: 100%;
    height: 250px;
    max-height: 250px;
    margin: 10px; 
}

.comment-thumbnails {
    display: inline-block;
    width: 33%;
    max-height: 250px;
    height: 250px;
    border: 1px solid;
    padding: 5px;
}



.avis {
    box-sizing: border-box;
    padding: 6px;
}

.footer {
    height: 60px;
    background-color: #97AFB8;
        margin-top: 100px;

}

.footer-text {
    color: white;
}

#menuLogin {
    margin-top: 5px;
    float: right;
    
}


.ng-invalid.ng-dirty{
     border-color: red;   
}

.ng-valid.ng-dirty{
    border-color: green;

}

.logged{
 display: inline-block;
}

.recette-block{
	padding : 0 auto;
}

.thumbnail{
	margin: 5px;
}

/*SideBar*/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #000000;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #394596;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand {
    color: #000000;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}


