<pageheader pagename="Grid" subtitle="Bootstrap UI Elements"></pageheader>

<div class="conter-wrapper">				

	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">

				<div class="panel-body">
					<div class="text-center"><h4>Twelve</h4></div>
				</div>
			</div>

		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="panel panel-default">

				<div class="panel-body">
					<div class="text-center"><h4>Six</h4></div>
				</div>
			</div>

		</div>

		<div class="col-sm-6">
			<div class="panel panel-default">

				<div class="panel-body">
					<div class="text-center"><h4>Six</h4></div>
				</div>
			</div>

		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<div class="panel panel-default">

				<div class="panel-body">
					<div class="text-center"><h4>Four</h4></div>
				</div>
			</div>

		</div>

		<div class="col-sm-4">
			<div class="panel panel-default">

				<div class="panel-body">
					<div class="text-center"><h4>Four</h4></div>
				</div>
			</div>

		</div>

		<div class="col-sm-4">
			<div class="panel panel-default">

				<div class="panel-body">
					<div class="text-center"><h4>Four</h4></div>
				</div>
			</div>

		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<div class="panel panel-default">

				<div class="panel-body">
					<div class="text-center"><h4>Three</h4></div>
				</div>
			</div>

		</div>
		<div class="col-sm-3">
			<div class="panel panel-default">

				<div class="panel-body">
					<div class="text-center"><h4>Three</h4></div>
				</div>
			</div>

		</div>
		<div class="col-sm-3">
			<div class="panel panel-default">

				<div class="panel-body">
					<div class="text-center"><h4>Three</h4></div>
				</div>
			</div>

		</div>
		<div class="col-sm-3">
			<div class="panel panel-default">

				<div class="panel-body">
					<div class="text-center"><h4>Three</h4></div>
				</div>
			</div>

		</div>
	</div>
	<div class="row">
		<div class="col-sm-5">
			<div class="panel panel-default">

				<div class="panel-body">
					<div class="text-center"><h4>Five</h4></div>
				</div>
			</div>

		</div>
		<div class="col-sm-7">
			<div class="panel panel-default">

				<div class="panel-body">
					<div class="text-center"><h4>Seven</h4></div>
				</div>
			</div>

		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<div class="panel panel-default">

				<div class="panel-body">
					<div class="text-center"><h4>Four</h4></div>
				</div>
			</div>

		</div>
		<div class="col-sm-8">
			<div class="panel panel-default">

				<div class="panel-body">
					<div class="text-center"><h4>Eight</h4></div>
				</div>
			</div>

		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<div class="panel panel-default">

				<div class="panel-body">
					<div class="text-center"><h4>Three</h4></div>
				</div>
			</div>

		</div>
		<div class="col-sm-9">
			<div class="panel panel-default">

				<div class="panel-body">
					<div class="text-center"><h4>Nine</h4></div>
				</div>
			</div>

		</div>
	</div>
	<div class="row">
		<div class="col-sm-2">
			<div class="panel panel-default">

				<div class="panel-body">
					<div class="text-center"><h4>Two</h4></div>
				</div>
			</div>

		</div>
		<div class="col-sm-10">
			<div class="panel panel-default">

				<div class="panel-body">
					<div class="text-center"><h4>Ten</h4></div>
				</div>
			</div>

		</div>
	</div>
	<div class="row">
		<div class="col-sm-1">
			<div class="panel panel-default">

				<div class="panel-body">
					<div class="text-center"><h4>One</h4></div>
				</div>
			</div>

		</div>
		<div class="col-sm-11">
			<div class="panel panel-default">

				<div class="panel-body">
					<div class="text-center"><h4>Eleven</h4></div>
				</div>
			</div>

		</div>
	</div>
</div>