<pageheader pagename="Vos gouts" subtitle="Gouts que vous avez renseignés"></pageheader>
<link href="js/taste/taste.css" rel="stylesheet" type="text/css">
<div class="container" ng-controller="tasteCtrl">
	<script type="text/ng-template" id="ingredient-tmpl">
		<li>
			<span aria-hidden="true">
				<img src="{{ taste.ingredient.url }}">
			</span> 
			<span class="glyphicon-class">
				{{ taste.ingredient.name }} 
			</span> 
			<span class="badge {{taste.ingredient.value }}">
				{{ taste.ingredient.value }}
			</span>
		</li>
	
	</script>
	<div class="text-center">
		<h1>Goûts que vous avez renseignés</h1>
	</div>

	<div class="row">
		<div class="col-md-1 ">
			<div class="input-group">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button" ng-click="order_item='name';order_reverse=!order_reverse;button_order_alpha = (order_reverse  ? 'Z--A' : 'A--Z');button_order_num = '0--10'">{{ button_order_alpha }}</button>
				</span>
			</div>
			<!-- /input-group -->
		</div>
		<div class="col-md-1 ">
			<div class="input-group">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button" ng-click="order_item='grading';order_reverse=!order_reverse;button_order_num = (order_reverse ? '10--0' : '0--10');button_order_aplha='A--Z'">{{ button_order_num }}</button>
				</span>
			</div>
			<!-- /input-group -->
		</div>
		<div class="col-md-1 ">
			<!-- <div class="input-group">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button">Tag</button>
				</span>
			</div> -->
			<!-- /input-group -->
		</div>
		<div class="col-md-3 nopadding">
			
		</div>
		<!-- /.col-lg-6 -->
		<div class="col-md-6">
			<div class="input-group">
				<input type="text" class="form-control"
					placeholder="Chercher un ingredient" ng-model="inputIngredient"> <span
					class="input-group-btn" >				
					<button class="btn btn-default" type="button" ng-click="click()">Ajouter</button>
				</span>
						</div>
			<ul class="ingredient-list">
				<li class="ingredient-choice-item" ng-repeat="ingredient in bdd_taste | filter:findIngredient">
					<a class="ingredient-item" ng-click="addPersonnalTaste(ingredient)">{{ ingredient.name }}</a>
				</li>
			</ul>
			<!-- /input-group -->
		</div>
		<!-- /.col-lg-6 -->
	</div>
	<!-- /.row -->
	<div class="bs-glyphicons">
		<ul class="bs-glyphicons-list">
			<li ng-repeat="ingredient in taste.ingredients | orderObjectBy:order_item:order_reverse">
				<span aria-hidden="true">
					<img class="cross-remove-taste" src="js/taste/cross.png" ng-click="deletePersonnalTaste(ingredient)">
					<img class="ingredient-pic" src="{{ ingredient.mainPicture  == null ? 'js/taste/default.png' :   ingredient.mainPicture.filePath + '/' + ingredient.mainPicture.fileName  }}">
				</span> 
				<span class="glyphicon-class">
					{{ ingredient.name }}
				</span> 
				<span class="badge {{ ingredient.css_value }}" ng-dblclick="ingredient.grading = ''">
					<input type="number" class="input_value" min="1" max="10" my-enter="sendUserTaste(ingredient)" ng-hide="ingredient.grading">
					{{ ingredient.grading }}
				</span>
			</li>
		</ul>
	</div>
</div>
