<pageheader pagename="Vos goûts" subtitle="Goûts que vous avez renseignés"></pageheader>
<link href="js/taste/taste.css" rel="stylesheet" type="text/css">
<div class="container" ng-controller="tasteCtrl">
	<script type="text/ng-template" id="ingredient-tmpl">
		<li>
			<span aria-hidden="true">
				<img src="{{ taste.ingredient.url }}">
			</span> 
			<span class="glyphicon-class">
				{{ taste.ingredient.name }} 
			</span> 
			<span class="badge {{taste.ingredient.value }}">
				{{ taste.ingredient.value }}
			</span>
		</li>
	
	</script>
	<div class="text-center">
		<h1>Goûts que vous avez renseignés</h1>
	</div>

	<div class="row">
		<div class="col-md-1 ">
			<div class="input-group">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button"ng-click))>A---Z</button>
				</span>
			</div>
			<!-- /input-group -->
		</div>
		<div class="col-md-1 ">
			<div class="input-group">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button">0---10</button>
				</span>
			</div>
			<!-- /input-group -->
		</div>
		<div class="col-md-1 ">
			<div class="input-group">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button">Tag</button>
				</span>
			</div>
			<!-- /input-group -->
		</div>
		<div class="col-md-3 nopadding">
			<button type="button" class="btn btn-default btn-md">
				<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
				décroissant
			</button>
			<button type="button" class="btn btn-default btn-md">
				<span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
				croissant
			</button>
		</div>
		<!-- /.col-lg-6 -->
		<div class="col-md-6">
			<div class="input-group">
				<input type="text" class="form-control"
					placeholder="Chercher un ingredient" ng-model="inputIngredient"> <span
					class="input-group-btn" >				
					<button class="btn btn-default" type="button" ng-click="click()">Ajouter</button>
				</span>
						</div>
			<ul>
				<li	ng-repeat="ingredient in bdd_taste | filter:findIngredient">
					<a ng-click="addPersonnalTaste(ingredient)">{{ ingredient.name }}</a>
					
				</li>
			</ul>
			<!-- /input-group -->
		</div>
		<!-- /.col-lg-6 -->
	</div>
	<!-- /.row -->
	<div class="bs-glyphicons">
		<ul class="bs-glyphicons-list">
			<li ng-repeat="ingredient in taste.ingredients">
				<span aria-hidden="true">
					<img src="js/taste/radis.png">
				</span> 
				<span class="glyphicon-class">
					{{ ingredient.name }} 
				</span> 
				<span class="badge {{ ingredient.css_value }}">
					<input type="number" class="input_value" min="1" max="10" my-enter="sendUserTaste(ingredient)")>
					{{ ingredient.value }}
				</span>
			</li>
			<li><span aria-hidden="true"><img
					src="js/taste/chocolat.png"></span> <span class="glyphicon-class">chocolat
					au lait </span> <span class="badge taste-eight">8</span></li>

		<!-- <li><span class="glyphicon " aria-hidden="true"><img
					src="js/taste/jambon-blanc.png"></span> <span
				class="glyphicon-class">jambon blanc </span> <span
				class="badge taste-three">3</span></li>

			<li><span class="glyphicon " aria-hidden="true"><img
					src="js/taste/choux-fleur.png"></span> <span class="glyphicon-class">choux
					fleur</span> <span class="badge taste-zero">0</span></li>

			<li><span class="glyphicon " aria-hidden="true"><img
					src="js/taste/radis.png"></span> <span class="glyphicon-class">radis</span>
				<span class="badge taste-zero">2</span></li>

			<li><span class="glyphicon " aria-hidden="true"><img
					src="js/taste/artichaut.png"></span> <span class="glyphicon-class">artichaut</span>
				<span class="badge taste-seven">7</span></li>

			<li><span class="glyphicon " aria-hidden="true"><img
					src="js/taste/radis.png"></span> <span class="glyphicon-class">radis</span>
				<span class="badge taste-zero">2</span></li>

			<li><span class="glyphicon " aria-hidden="true"><img
					src="js/taste/jambon-blanc.png"></span> <span
				class="glyphicon-class">jambon blanc </span> <span
				class="badge taste-one">1</span></li>

			<li><span class="glyphicon " aria-hidden="true"><img
					src="js/taste/artichaut.png"></span> <span class="glyphicon-class">artichaut</span>
				<span class="badge taste-two">2</span></li>

			<li><span class="glyphicon " aria-hidden="true"><img
					src="js/taste/choux-fleur.png"></span> <span class="glyphicon-class">choux
					fleur</span> <span class="badge taste-six">6</span></li>

			<li><span class="glyphicon " aria-hidden="true"><img
					src="js/taste/jambon-blanc.png"></span> <span
				class="glyphicon-class">jambon blanc </span> <span
				class="badge taste-four">4</span></li>

			<li><span aria-hidden="true"><img
					src="js/taste/pasteque.png"></span> <span class="glyphicon-class">pasteque
			</span> <span class="badge taste-ten">10</span></li>

			<li><span class="glyphicon " aria-hidden="true"><img
					src="js/taste/artichaut.png"></span> <span class="glyphicon-class">artichaut</span>
				<span class="badge taste-five">5</span></li>

			<li><span class="glyphicon " aria-hidden="true"></span> <span
				class="glyphicon-class"></span></li>

			<li><span class="glyphicon " aria-hidden="true"></span> <span
				class="glyphicon-class"></span></li>

			<li><span class="glyphicon " aria-hidden="true"></span> <span
				class="glyphicon-class"></span></li>

			<li><span class="glyphicon " aria-hidden="true"></span> <span
				class="glyphicon-class"></span></li>

			<li><span class="glyphicon " aria-hidden="true"></span> <span
				class="glyphicon-class"></span></li> 
			<li><div ng-controller="ModalDemoCtrl" ng-click="open()"
					style="cursor: pointer;">
					<span class="glyphicon glyphicon-plus" style="font-size: 100px;"
						aria-hidden="true" data-toggle="modal" data-target="#myModal"></span>
					<span class="glyphicon-class">nouveau</span>
				</div></li>-->
		</ul>
	</div>
</div>
