<link href="js/recipe/recipe.css" rel="stylesheet" type="text/css">

<pageheader pagename="Nouvelle &eacute;tape de la recette" subtitle="Ajoutez une &eacute;tape &acirc; votre recette"></pageheader>

<div flash-message="5000"></div>

<div ng-controller="addRecipeStepCtrl">
        
    <form role="form" name="addRecipeForm" class="form" id="formAddRecipe" ng-submit="addStep()" novalidate>
        <fieldset>
            <div class="container">
                <div class="" style="padding:17px;">
                    
                    <!-- add images -->
                    <div class="panel panel-primary">
                    
                        <div class="panel-heading">
                            <h3 class="panel-title"><span class="glyphicon glyphicon-step-forward"></span>  <strong>Cr&eacute;er une nouvelle &eacute;tape pour votre recette : <i>{{recipe.name}}</i></strong></h3>
                        </div>
                        
                        <div class="panel-body">
                            
                            <!-- recipe_step_name -->
                            <div class="control-group">
                                <label class="control-label" for="recipe_step_name"></label>
                                <div class="controls">
                                    <div class="input-group">
                                        <span class="input-group-addon">D&eacute;nomination de l'&eacute;tape *</span>
                                        <input id="recipe_step_name" name="recipe_step_name" class=" form-control" placeholder="Nom de l'&eacute;tape" type="text" ng-model="recipestep.name" required>
                                    </div>
                                </div>
                            </div>
                            
                            <br/>
                            
                            <!-- duration_time -->
                            <div class="control-group">
                                <label class="control-label" for="step_duration_time">Dur&eacute;e de l'&eacute;tape *</label>
                                <uib-timepicker ng-model="duration_time" hour-step="1" minute-step="1" show-meridian="false"></uib-timepicker>
                            </div>
                            
                            <br/>
                            
                            <!-- rcp_description -->
                            <div class="control-group">
                                  <label class="control-label" for="recipedescription">Breve description de l'&eacute;tape *</label>
                                  <div class="controls">
                                    <textarea class="form-control" id="recipeDescription" name="recipeDescription" placeholder="Une petite description..." ng-model="recipestep.description" required></textarea>          
                                  </div>
                            </div>
                            
                           </div>
                        
                        <div class="panel-footer">
                            
                            <!-- Button -->
                            <div class="control-group">
                                  <div class="controls">
                                      <button  id="btnAddRecipeStep" name="btnAddRecipeStep" class="btn btn-success btn-s" role="submit">
                                        <span class="glyphicon glyphicon-floppy-saved"></span> Cr&eacute;er l'&eacute;tape
                                    </button>
                                    
                                    <button id="btnRazForm" name="btnRazForm" class="btn btn-warning btn-s" type="reset">
                                        <span class="glyphicon glyphicon-ban-circle"></span> Vider formulaire
                                    </button>
                                  </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
    
</div>