<pageheader pagename="Nouvelle recette" subtitle="Vous allez ajouter une nouvelle recette"></pageheader>

<div class="container">
	<div class="" style="padding:17px;"  ng-controller="addRecipeCtrl">
		
		<div flash-message="3000"></div>
		
		<form role="form" name="addRecipeForm" class="form-horizontal" id="formAddRecipe"  novalidate ng-submit="addRecipeForm.$valid && add()">

			<!-- Form Name -->
			<legend>Saisissez les informations de votre recette !</legend>
			
			<!-- rcp_main_picture --> 
			<div class="control-group">
			  <label class="control-label" for="picFile">Image principale du plat</label>
			  <div class="controls">
			    <input id="rcp_main_picture" name="rcp_main_picture" class="input-file" type="file" ng-model="recipe.rcp_main_picture" accept="image/*">
			  </div>
			</div>
			
			<!-- rcp_dish_type -->
			<div class="control-group">
				<label class="control-label" for="rcp_dish_type">Catégorie de la recette *</label>
				<div class="controls" ng-init="recipe.rcp_dish_type='Plat'">
					<label class="radio-inline"><input type="radio" name="rcp_dish_type" id="rcp_dish_type1" value="Entree" ng-model="recipe.rcp_dish_type">Entrée</label>
					<label class="radio-inline"><input type="radio" name="rcp_dish_type" id="rcp_dish_type2" value="Plat" ng-model="recipe.rcp_dish_type" >Plat</label>
					<label class="radio-inline"><input type="radio" name="rcp_dish_type" id="rcp_dish_type3" value="Dessert" ng-model="recipe.rcp_dish_type">Dessert</label>
				</div>
				
			</div>
			
			<!-- rcp_name -->
			<div class="control-group">
				<label class="control-label" for="rcp_name">Nom recette *</label>
				<div class="controls">
					<input id="rcp_name" name="rcp_name" class=" form-control" placeholder="Le nom de votre recette" type="text" ng-model="recipe.rcp_name" required>
					<span style="color:red" ng-show="(addRecipeForm.$submitted ||addRecipeForm.rcp_name.$dirty) && addRecipeForm.rcp_name.$invalid">
  						<span ng-show="addRecipeForm.rcp_name.$error.required">Nom de la recette requise.</span>
  					</span>
				</div>
			</div>
			
			<!-- rcp_preparation_time -->
			<div class="control-group">
				<label class="control-label" for="rcp_preparation_time">Durée de préparation *</label>
				<div class="controls">
					<input class="form-control" name="rcp_preparation_time" id="rcp_preparation_time" type="number" placeholder="Temps de prépartion en secondes" ng-model="recipe.rcp_preparation_time" required>
				</div>
				<span style="color:red" ng-show="(addRecipeForm.$submitted ||addRecipeForm.rcp_preparation_time.$dirty) && addRecipeForm.rcp_preparation_time.$invalid">
 					<span ng-show="addRecipeForm.rcp_preparation_time.$error.required">Durée de préparation requise.</span>
 				</span>
			</div>
			
			<!-- rcp_cooking_time -->
			<div class="control-group">
				<label class="control-label" for="rcp_cooking_time">Temps de cuisson *</label>
				<div class="controls">
					<input class="form-control" name="rcp_cooking_time" id="rcp_cooking_time" type="number" placeholder="Temps de cuisson en secondes" ng-model="recipe.rcp_cooking_time" required>
				</div>
				<span style="color:red" ng-show="(addRecipeForm.$submitted ||addRecipeForm.rcp_cooking_time.$dirty) && addRecipeForm.rcp_cooking_time.$invalid">
 					<span ng-show="addRecipeForm.rcp_cooking_time.$error.required">Temps de cuisson requis.</span>
 				</span>
			</div>
			
			<!-- rcp_difficulty -->
			<div class="control-group">
				<label class="control-label" for="rcp_difficulty">Niveau de difficulté (valeur sur 10) *</label>
				<div class="controls">
					<input class="form-control" name="rcp_difficulty" id="rcp_difficulty" type="number" placeholder="Difficulté" ng-model="recipe.rcp_difficulty" required>
				</div>
				<span style="color:red" ng-show="(addRecipeForm.$submitted || addRecipeForm.rcp_difficulty.$dirty) && addRecipeForm.rcp_difficulty.$invalid">
 					<span ng-show=" addRecipeForm.rcp_difficulty.$error.required">Niveau de difficulté requis.</span>
 				</span>
			</div>
			
			<!-- rcp_description -->
			<div class="control-group">
			  <label class="control-label" for="rcp_description">Bref description de la recette</label>
			  <div class="controls">
			    <textarea class="form-control" id="rcp_description" name="rcp_description" placeholder="description" ng-model="recipe.rcp_description"></textarea>		  
			  </div>
			</div>
			
		
			<!-- rcp_ingredients -->
			<div class="control-group">
			  	<label class="control-label">Liste des ingrédients de la recette</label>
			    <div ng-repeat="ingredient in ingredients_in_recipe track by $index" >
			    	<select id="rcp_ingredients_$index" style="width: 25%;" ng-model="ingredients_in_recipe[$index].ingredient" ng-options="item as item.name for item in ingredients | orderBy:'name'">
					</select>
			  		<label class="control-label" for="quantity_of_ingredient_in_recipe_$index">quantité</label>
			    	<input style="width: 5%;" type='number' id="quantity_of_ingredient_in_recipe_$index" ng-model='ingredients_in_recipe[$index].quantity' placeholder='quantity'>

			    	<label ng-repeat="measure in measurements"  class="radio-inline">
			    	  <input ng-model="ingredients_in_recipe[$parent.$index].measurement" type="radio" name="rcp_measurement_{{$parent.$index}}" value="{{measure}}">
			    	  {{measure}}
			    	</label>
					<span class="glyphicon glyphicon-remove-circle" aria-hidden="true" ng-click="remove_ingredient($index)"></span>
			    </div>
				<div>
	      		<button type="button" ng-click="add_ingredient()">ajouter un ingredient</button>
	      		</div>
			</div>			

    <pre>{{ ingredients_in_recipe | json }}</pre>
    
			
			<!-- Button -->
			<div class="control-group">
			  <label class="control-label" for="btnAddRecipe"></label>
			  <div class="controls">
			    <button id="btnAddRecipe" name="btnAddRecipe" class="btn btn-success" role="submit">Ajouter des étapes</button>
			    <button id="btnRazForm" name="btnRazForm" class="btn btn-danger" type="reset">Vider formulaire</button>
			  </div>
			</div>
		
		</form>
	     
	</div>
</div>