<pageheader pagename="Liste des recettes" subtitle="Toutes les recettes"></pageheader>
<div class="conter-wrapper ng-scope" ng-controller="RecipesCtrl">
    <div class="container-fluid">
        <div class="row">

            <div flash-message="3000"></div>

            <div class=" col-md-10 col-md-offset-1 alert alert-white">
                <span>Type de plat : </span>
                <div class="btn-group ">
                    <label class="btn btn-primary" ng-model="typePlat" uib-btn-radio="'Entrée'">Entrée</label>
                    <label class="btn btn-primary" ng-model="typePlat" uib-btn-radio="'Plat'">Plat</label>
                    <label class="btn btn-primary" ng-model="typePlat" uib-btn-radio="'Dessert'">Dessert</label>
                </div>
                <span>Nom de la recette : </span>
                <input type="text" ng-model="search">
            </div>

            <div class="row">
                <cc-recipe recipe="recipe"
                           ng-repeat="recipe in recipes | filter : typePlat | filter : {name:search}"></cc-recipe>
            </div>

        </div>
    </div>
</div>
