.header_recipe_step{
}

div.img-div{
    width:150px;
}

.img-div img{
max-width: 100%;
height: auto;
}


.img-div-recipe img{
   max-width: 100%;
   height: auto;
}

.comment_panel{
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 10px;
}

.comment_panel .panel-heading{
	padding: 5px !important;
}