<nav class="navbar navbar-inverse navbar-fixed-top striped-bg" id="top-navbar">
    <div class="container-fluid">
        <div class="navbar-header">       
            <a class="sidenav-toggle" href="javascript:;"ng-click="showMenu();" ><span class="brandbar"><i class="fa fa-bars hidd"></i></a></span>
            <a class="navbar-brand" ui-sref="home"><i class="fa fa-cutlery"></i>&nbsp;Cookorico</a> <div class="solution">>&nbsp;</i>Devenez le plus grand des chefs !</div>
            
            
        </div>
        <div class="right-admin">
            <ul>
            <li class="dropdown hidd" dropdown on-toggle="toggled(open)">
                    <a href class="dropdown-toggle admin-toggle" dropdown-toggle>
                        <img class="img-circle admin-img" src="images/profile1.jpg" alt="">
                    </a>
                    <ul class="dropdown-menu admin" role="menu">
                        <li role="presentation" class="dropdown-header">Gordon Ramsay</li>
                        <li><a ui-sref="profile"><i class="fa fa-info"></i> Profile</a></li>
                        <li><a ui-sref="login"><i class="fa fa-power-off"></i> Logout</a></li>
                    </ul>             
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right top-nav">
                <li class="dropdown" dropdown on-toggle="toggled(open)">
                    <a href class="dropdown-toggle notoggle" dropdown-toggle>
                        <span><i class="fa fa-circle text-primary"></i></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="padder-h-xs">
                            <table class="table color-swatches-table text-center no-m-b">
                                <tr>
                                    <td>
                                        <a href="javascript:;" ng-click="changeTheme('green')" class="theme-picker">
                                            <i class="fa fa-circle fa-2x green-base"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="javascript:;" ng-click="changeTheme('blue')" class="theme-picker">
                                            <i class="fa fa-circle fa-2x blue-base"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="javascript:;" ng-click="changeTheme('red')" class="theme-picker">
                                            <i class="fa fa-circle fa-2x red-base"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="javascript:;" ng-click="changeTheme('orange')" class="theme-picker">
                                            <i class="fa fa-circle fa-2x orange-base"></i>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </li>
                    </ul>
                </li>
                <!--<li class="visible-lg">-->
                    <!--<a href="javascript:;" id="boxed-layout" ng-click="toggleBodyLayout()">-->
                        <!--<i class="fa fa-expand-toggle fa-tp"></i>-->
                    <!--</a>-->
                <!--</li>-->
                <li class="dropdown" dropdown on-toggle="toggled(open)">
                    <a href class="dropdown-toggle notoggle" dropdown-toggle>
                        <span class="notification"><i class="fa fa-bell-o"></i></span>
                        <b class="badge nobadge">5</b>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-lg ddown" role="menu">
                        <li role="presentation" class="dropdown-header">Notification</li>
                        <li>
                            <a ui-sref="c3chart" class="notification-wrap">
                                <div class="notification-media">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x text-warning"></i>
                                        <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                                    </span>
                                    <div><span class="label label-danger">Urgent</span></div>
                                </div>
                                <div class="notification-info">
                                    <div class="time-info text-muted pull-right"><small><i class="fa fa-comments"></i> 2 hours ago</small></div>
                                    <h5>Heading </h5>
                                    <p>Hey Anna! Sorry for delayed response. I've just finished reading the mail you sent couple of...</p>
                                </div>                      
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a ui-sref="inbox" class="notification-wrap">
                                <div class="pull-left notification-media">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                        <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                                    </span>
                                    <div><span class="label label-info">New</span></div>
                                </div>
                                <div class="notification-info">
                                    <div class="time-info text-muted pull-right" ><small><i class="fa fa-comments"></i> 23rd Dec 2014</small></div>
                                    <h5>Heading </h5>
                                    <p>Hey Anna! Sorry for delayed response. I've just finished reading the mail you sent couple of...</p>
                                </div>                      
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" dropdown on-toggle="toggled(open)">
                    <a href class="dropdown-toggle admin-toggle" dropdown-toggle>
                        <img class="img-circle admin-img" src="images/profile1.jpg" alt="">&nbsp;&nbsp;&nbsp;<span class="add">Gordon Ramsay&nbsp;
                        <i class="fa fa-angle-down"></i></span>
                    </a>
                    <ul class="dropdown-menu admin" role="menu">
                        <li role="presentation" class="dropdown-header">Gordon Ramsay</li>
                        <li><a ui-sref="profile"><i class="fa fa-info"></i> Profile</a></li>
                        <li><a ui-sref="login"><i class="fa fa-power-off"></i> Logout</a></li>
                    </ul>             
                </li>
            </ul>
        </div>
    </div>
</nav>