<pageheader pagename="Acceuil"></pageheader>
<link rel="stylesheet" type="text/css" href="js/home/home.css">

<div class="conter-wrapper">
	<div class="container-fluid home-page">
		<h1 class="text-center" style="font-variant: small-caps">
			Cookorico !</h1>
		<h2 class="text-center" style="font-variant: small-caps">A la Une
		</h2>
		<div class="row">
			<div class="col-md-12">

				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="panel-title">
							<h3>
								<span class="glyphicon glyphicon-cutlery"><strong>
										Recettes</strong></span>
							</h3>
						</div>

					</div>

					<div class="panel-body recipeUne" ng-controller="carrouselCtrl">
						<uib-carousel interval="myInterval" no-wrap="noWrapSlides">
						<uib-slide ng-repeat="slide in slides" active="slide.active">
						<img ng-src="{{slide.mainPicture.filePath}}">
						<div class="carousel-caption">
							<a ui-sref="recipe({idRecipe: '{{slide.idRecipe}}'})"><strong>{{slide.name}}</strong></a>
							<p>{{slide.description}}</p>
						</div>
						</uib-slide> </uib-carousel>
					</div>

				</div>


				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="panel-title">
							<h3>
								<span class="glyphicon glyphicon-user"></span><strong>
									Producteurs</strong>
							</h3>
						</div>

					</div>

					<div class="panel-body producerUne" ng-controller="carrouselCtrl">
						<div ng-repeat="producer in producers">
							<div class="col-sm-6 col-md-4">
								<div class="thumbnail">
									<img src="http://lorempixel.com/200/200/people"
										class="img-circle" alt="...">
									<div class="caption text-center">
										<h3>
											<a>{{producer.name}}</a>
										</h3>
										<h4>{{producer.city}}</h4>
										<p>{{producer.description}}</p>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>


			</div>
		</div>
	</div>
</div>