.recipeUne img {
	max-height: 300px;
	display: block;
	margin: 0 auto;
}

.recipeUne a{
	color: white;
	text-transform: uppercase;
	font-size: 150%;
}

.producerUne img {
	height: 150px;
	width: 150px;
}