<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
  
<mapper namespace='fil.iagl.cookorico.dao.AdministratorDao'>

	<!--  <resultMap type="Administrator" extends="fil.iagl.cookorico.dao.MemberDao.memberResultMapSingle" id="AdministratorResultMap">
	-->
	<resultMap type="fil.iagl.cookorico.entity.Administrator" extends="fil.iagl.cookorico.dao.MemberDao.memberResultMapSingle" id="AdministratorResultMap">
		<id property="idAdministrator" column="id_administrator"/>
		<result property="adminRank" column="adminRank"/>
	</resultMap>
	
	<select id="getAllAdministrator" resultMap="AdministratorResultMap">
		SELECT * FROM administrator, member WHERE id_administrator=id_member
	</select>
	

</mapper>