<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
  
<mapper namespace='fil.iagl.cookorico.dao.CommentDao'>

	<resultMap type="fil.iagl.cookorico.entity.Comment" id="commentResultMap">
		<id property='idComment' column='cmt_id_comment' />
		<result property='title' column='cmt_title' />
		<result property='description' column='cmt_description' />
		<result property='creationDate' column='cmt_creation_date' />
		<result property='modifDate' column='cmt_modif_date' />
		<result property='validation' column='cmt_validation' />
		<result property='validator' column='cmt_validator' />
		<result property='disabled' column='cmt_disabled' />
		<association property='member' resultMap='fil.iagl.cookorico.dao.MemberDao.memberResultMap' />
		<association property='recipe' column='cmt_id_comment' select='fil.iagl.cookorico.dao.RecipeDao.recipe' />
	</resultMap>
	
	<select id="getAllComments" resultMap="commentResultMap">
		select * from comment;		
	</select>
	
</mapper>