<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='fil.iagl.cookorico.dao.IngredientDao'>
	<!-- complete mapping with all informations -->
    <resultMap type="fil.iagl.cookorico.entity.Ingredient" id="ingredientResultMap">
    <id property='idIngredient' column='igd_id_ingredient'/>
    <result property='name' column='igd_name'/>
    <result property='description' column='igd_description'/>
    <!-- TO DO igd_main_picture -->
	<result property='modifDate' column='igd_modif_date' />
    <result property='disabled' column='igd_disabled'/>
    <result property='validation' column='igd_validation'/>
    <association property='mainPicture' resultMap='fil.iagl.cookorico.dao.PictureDao.singlePictureResultMap' />
    <collection property='tags' column="id_ingredient" javaType="List" ofType="fil.iagl.cookorico.entity.Tag" resultMap="fil.iagl.cookorico.dao.TagDao.tagResultMap" />
  	<collection property='producers' column="id_ingredient" javaType="List" ofType="fil.iagl.cookorico.entity.Producer" resultMap="fil.iagl.cookorico.dao.ProducerDao.SingleProducerResultMap" />
  </resultMap>


	<!-- Single ingredient (only its informations) -->
    <resultMap type="fil.iagl.cookorico.entity.Ingredient" id="singleIngredientResultMap">
	    <id property='idIngredient' column='igd_id_ingredient'/>
	    <result property='name' column='igd_name'/>
	    <result property='description' column='igd_description'/>
		<result property='modifDate' column='igd_modif_date' />
	    <result property='disabled' column='igd_disabled'/>
	    <result property='validation' column='igd_validation'/>
	</resultMap>
	
	<!-- only producers (useful for the recipe page) -->
    <resultMap type="fil.iagl.cookorico.entity.Ingredient" id="ingredientWithProducerResultMap">
	    <id property='idIngredient' column='igd_id_ingredient'/>
	    <result property='name' column='igd_name'/>
	    <result property='description' column='igd_description'/>
	    <!-- TO DO igd_main_picture -->
		<result property='modifDate' column='igd_modif_date' />
	    <result property='disabled' column='igd_disabled'/>
	    <result property='validation' column='igd_validation'/>
	    <collection property='producers' column="id_ingredient" javaType="List" ofType="fil.iagl.cookorico.entity.Producer" resultMap="fil.iagl.cookorico.dao.ProducerDao.SingleProducerResultMap" />
	</resultMap>

  <select id="getAllIngredients" resultMap="ingredientResultMap">
    SELECT * FROM ingredient
  </select>
  
    <select id="getFullIngredients" resultMap="ingredientResultMap">
    SELECT * FROM ingredient
    LEFT JOIN tag_to_ingredient ON tti_fk_id_ingredient=igd_id_ingredient
    LEFT JOIN tag ON tti_fk_id_tag=tag_id_tag
    LEFT JOIN picture_of_ingredient ON igd_main_picture=poi_id_picture_of_ingredient
    LEFT JOIN picture ON poi_fk_id_picture=pic_id_picture
  </select>
  
  <select id="getAllIngredientsWithTags" resultMap="ingredientResultMap">
    SELECT * 
    From ingredient
    left join tag_to_ingredient on tti_fk_id_ingredient=igd_id_ingredient
    left join tag on tti_fk_id_tag=tag_id_tag
    
  </select>
  
  <select id="getAllIngredientsWithMainPicture" resultMap="ingredientResultMap" >
    SELECT * 
    FROM ingredient
    LEFT JOIN picture_of_ingredient ON igd_main_picture=poi_id_picture_of_ingredient
    LEFT JOIN picture ON poi_fk_id_picture=pic_id_picture
  </select>
  
  <select id="getIngredientById" resultType="fil.iagl.cookorico.entity.Ingredient" parameterType="int" resultMap="ingredientResultMap">
  	SELECT * FROM ingredient WHERE igd_id_ingredient = #{id}
  </select>
  
  <select id="getIngredientsByProducer" resultMap="ingredientResultMap"
		parameterType="int">
		SELECT * FROM ingredient LEFT JOIN
		ingredient_of_producer on iop_fk_id_ingredient =
		igd_id_ingredient where
		iop_fk_id_producer = #{idProducer}
	</select>
	
  <insert id="addIngredient" parameterType="fil.iagl.cookorico.entity.Ingredient">
  	INSERT INTO ingredient(name, description) VALUES(#{ingredient.name}, #{ingredient.description})
  </insert>
  
  <delete id="deleteIngredient" parameterType="fil.iagl.cookorico.entity.Ingredient">
  	DELETE FROM ingredient WHERE name = #{name}
  </delete>

</mapper>