<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='fil.iagl.cookorico.dao.IngredientDao'>

<!--   <resultMap type="Ingredient" id="ingredientResultMap"> -->
    <resultMap type="fil.iagl.cookorico.entity.Ingredient" id="ingredientResultMap">
    <id property='idIngredient' column='igd_id_ingredient'/>
    <result property='name' column='igd_name'/>
    <result property='description' column='igd_description'/>
    <!-- TO DO igd_main_picture -->
    <result property='creationDate' column='igd_creation_date' />
	<result property='modifDate' column='igd_modif_date' />
    <result property='disabled' column='igd_disabled'/>
    <result property='validation' column='igd_validation'/>
    <!--
    <collection property='tags' column="id_ingredient" javaType="List" ofType="fil.iagl.cookorico.entity.Tag" select="fil.iagl.cookorico.dao.TagDao.selectTagFromIngredient" resultMap="fil.iagl.cookorico.dao.TagDao.tagResultMap" />
    -->
    <collection property='tags' column="id_ingredient" javaType="List" ofType="fil.iagl.cookorico.entity.Tag" resultMap="fil.iagl.cookorico.dao.TagDao.tagResultMap" />
    
  </resultMap>
	
  <select id="getAllIngredientsWithTags" resultMap="ingredientResultMap">
    SELECT * 
    From ingredient
    left join tag_to_ingredient on tti_fk_id_ingredient=igd_id_ingredient
    left join tag on tti_fk_id_tag=tag_id_tag
  </select>

  <select id="getAllIngredients" resultMap="ingredientResultMap">
    SELECT * FROM ingredient
  </select>
  
  <select id="getIngredientById" resultType="fil.iagl.cookorico.entity.Ingredient" parameterType="int">
  	SELECT * FROM ingredient WHERE id_ingredient = #{id}
  </select>
  
  <insert id="addIngredient" parameterType="fil.iagl.cookorico.entity.Ingredient">
  	INSERT INTO ingredient(name, description) VALUES(#{ingredient.name}, #{ingredient.description})
  </insert>
  
  <delete id="deleteIngredient" parameterType="fil.iagl.cookorico.entity.Ingredient">
  	DELETE FROM ingredient WHERE name = #{name}
  </delete>

</mapper>