<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='fil.iagl.cookorico.dao.IngredientInRecipeDao'>
    <resultMap type="fil.iagl.cookorico.entity.IngredientInRecipe" id="ingredientInRecipeResultMap">
	    <id property='idIngredientInRecipe' column='iir_id_ingredient_in_recipe'/>
	    <result property='quantity' column='iir_quantity' />
	    <result property='unitOfMeasurement' column='iir_measurement' />    
		<association property='ingredient' resultMap="fil.iagl.cookorico.dao.IngredientDao.singleIngredientResultMap" />
	</resultMap>

	<sql id="select_all">
		SELECT *
		FROM ingredient_in_recipe
	</sql>

	<sql id="join_ingredient">
		LEFT JOIN ingredient ON iir_fk_id_ingredient=igd_id_ingredient
	</sql>

	<sql id="join_recipe">
		LEFT JOIN recipe ON iir_fk_id_recipe=rcp_id_recipe
	</sql>


   <select id="getIngredientsInRecipeByIdRecipe" resultMap="ingredientInRecipeResultMap" parameterType="int">
		<include refid="select_all"/>
		<include refid="join_ingredient"/>
		WHERE iir_fk_id_recipe = #{id}
   </select>
   
   <select id="getAllMeasurements"  resultType="string">
   		SELECT unnest(enum_range(NULL::UNIT_OF_MEASUREMENT))
   </select>
   
    <insert id="addIngredientInRecipe" parameterType="fil.iagl.cookorico.entity.IngredientInRecipe">
  	    INSERT INTO ingredient_in_recipe(iir_fk_id_ingredient, iir_fk_id_recipe, iir_quantity, iir_measurement) VALUES(#{ingredientInRecipe.ingredient.idIngredient}, #{ingredientInRecipe.recipe.idRecipe}, #{ingredientInRecipe.quantity}, #{ingredientInRecipe.unitOfMeasurement}::UNIT_OF_MEASUREMENT)
    </insert>
  
</mapper>