<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fil.iagl.cookorico.dao.IngredientDao">

	<resultMap type="fil.iagl.cookorico.entity.Ingredient" id="ingredientResultMap">
		<id property="id" column="id_ingredient" />
		<result property="name" column="name" />
		<result property="description" column="description" />
		<result property="creationDate" column="creation_date" />
		<result property="modifDate" column="modif_date" />
		<result property="validation" column="validation" />
		<result property="disabled" column="disabled" />
	</resultMap>
	
	<select id="getAllIngredients" resultType="ingredientResultMap">
		SELECT * FROM ingredient
	</select>

</mapper>