<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='fil.iagl.cookorico.dao.LevelDao'>

	<resultMap type="fil.iagl.cookorico.entity.Level" id="levelResultMap">
		<id property='idLevel' column='lvl_id_level' />
		<result property='labelLvl' column='lvl_label' />
		<result property='levelNum' column='lvl_num' />
		<result property='levelPic' column='lvl_main_picture' />
		<result property='xpMin' column='lvl_xp_min' />
		<result property='xpMax' column='lvl_xp_max' />
	</resultMap>



	<select id="getLevelByXP" parameterType="int"
		resultType="fil.iagl.cookorico.entity.Level" resultMap="levelResultMap">
		SELECT * FROM
		level WHERE #{xp} >= lvl_xp_min AND lvl_xp_max > #{xp}
	</select>

	<select id="getLevelById" parameterType="int"
		resultType="fil.iagl.cookorico.entity.Level" resultMap="levelResultMap">
		SELECT * FROM
		level WHERE lvl_id_Level = #{id}
	</select>

</mapper>