<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='fil.iagl.cookorico.dao.MemberDao'>

  <resultMap type="fil.iagl.cookorico.entity.Member" id="memberResultMap">
    <id property='memberId' column='id_member'/>
    <result property='username' column='username'/>
    <result property='password' column='password'/>
    <result property='firstname' column='firstname'/>
    <result property='lastname' column='lastname'/>
    <result property='email' column='email'/>
<!--     <result property='birthday' column='birthday'/> -->
    <result property='gender' column='gender'/>
    <result property='city' column='city'/>
<!--     <result property='currentAvatar' column='current_avatar'/> -->
<!--     <result property='creationDate' column='creation_date'/> -->
<!--     <result property='modifDate' column='modif_date'/> -->
    <result property='disabled' column='disabled'/>
  </resultMap>
	
  <select id="getAllMembers" resultMap="memberResultMap">
    SELECT * FROM member
  </select>
  
  <select id="getMemberWithCredentials" resultMap="memberResultMap">
  	SELECT * FROM member WHERE username=#{username} AND password=#{password}
  </select>
  
  <select id="getMemberWithUsername" parameterType="java.lang.String">
  	SELECT * FROM member WHERE username=#{username}
  </select>
  
  <insert id="addMember" parameterType="fil.iagl.cookorico.entity.Member">
  	INSERT INTO member(email, username, password) VALUES(#{member.email}, #{member.username}, #{member.password})
  </insert>

</mapper>