<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='fil.iagl.cookorico.dao.MemberDao'>

  <!-- <resultMap type="Member" id="memberResultMap"> -->
	<resultMap type="fil.iagl.cookorico.entity.Member" id="memberResultMap">
		<id property='idMember' column='mbr_id_member' />
		<result property='username' column='mbr_username' />
		<result property='firstname' column='mbr_firstname' />
		<result property='lastname' column='mbr_lastname' />
		<result property='email' column='mbr_email' />
		<result property='password' column='mbr_password' />
		<result property='experience' column='mbr_experience' />
		<!-- <result property='salt' column='mbr_salt' /> -->
		<result property='gender' column='mbr_gender' />
		<result property='disabled' column='mbr_disabled' />
		<result property='birthday' column='mbr_birthday' />
		<result property='city' column='mbr_city' />
		<result property='creationDate' column='mbr_creation_date' />
		<result property='modifDate' column='mbr_modif_date' />
		<association property='level' resultMap="fil.iagl.cookorico.dao.LevelDao.levelResultMap" />
		<association property='mainPicture' resultMap='fil.iagl.cookorico.dao.PictureDao.pictureResultMap' />
		
	</resultMap>
  
  
  
  
  <select id="getAllMembers" resultMap="memberResultMap">
    SELECT * FROM member
  </select>
  
  <select id="getMemberWithCredentials" resultMap="memberResultMap">
<!--   	SELECT * FROM member join level on lvl_id_level=mbr_level WHERE mbr_username = #{username} AND mbr_password = #{password} -->
      	SELECT * 
    	FROM member 
    	LEFT JOIN picture_of_user ON pou_id_picture_of_user=mbr_main_picture
   		LEFT JOIN picture ON pou_id_picture_of_user=pic_id_picture
    	 WHERE mbr_username = #{username} AND mbr_password = #{password}
  
  </select>
  
  <select id="getMemberWithUsername" parameterType="java.lang.String" resultMap="memberResultMap">
<!--   	SELECT * FROM member join level on lvl_id_level=mbr_level WHERE mbr_username = #{username} -->
  	    SELECT * 
    	FROM member 
    	LEFT JOIN picture_of_user ON pou_id_picture_of_user=mbr_main_picture
   		LEFT JOIN picture ON pou_id_picture_of_user=pic_id_picture
 		WHERE mbr_username = #{username}
  </select>
  
  <select id="getMemberById" parameterType="int" resultType="fil.iagl.cookorico.entity.Member" resultMap="memberResultMap" >
<!--   	SELECT * FROM member join level on lvl_id_level=mbr_level WHERE mbr_id_member = #{id} -->
  		SELECT * 
    	FROM member 
    	LEFT JOIN picture_of_user ON pou_id_picture_of_user=mbr_main_picture
   		LEFT JOIN picture ON pou_id_picture_of_user=pic_id_picture
		WHERE mbr_id_member = #{id}
  </select>

  <insert id="addMember" parameterType="fil.iagl.cookorico.entity.Member">
  	INSERT INTO member(mbr_username, mbr_firstname, mbr_lastname, mbr_email, mbr_password<!--,mbr_birthday-->, mbr_gender, mbr_city, mbr_level, mbr_experience) 
  	VALUES(#{member.username}, #{member.firstname}, #{member.lastname}, #{member.email}, #{member.password}<!--, #{member.birthday}-->, #{member.gender}::gender, #{member.city},#{member.level},#{member.experience})
  </insert>
  
  
  <update id="updateXpMember" parameterType="java.util.Map" >
  	UPDATE member SET mbr_experience = #{newXp} WHERE mbr_id_member = #{id}
  </update>
  
  

</mapper>