<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='fil.iagl.cookorico.dao.MemberDao'>

  <!-- <resultMap type="Member" id="memberResultMap"> -->
  <resultMap type="fil.iagl.cookorico.entity.Member" id="memberResultMap">
    <id property='idMember' column='id_member'/>
    <result property='username' column='username'/>
    <result property='password' column='password'/>
    <result property='firstname' column='firstname'/>
    <result property='lastname' column='lastname'/>
    <result property='email' column='email'/>
<!--     <result property='birthday' column='birthday'/> -->
    <result property='gender' column='gender'/>
    <result property='city' column='city'/>
<!--     <result property='currentAvatar' column='current_avatar'/> -->
<!--     <result property='creationDate' column='creation_date'/> -->
<!--     <result property='modifDate' column='modif_date'/> -->
    <result property='disabled' column='disabled'/>
  </resultMap>
  
   <!-- <resultMap type="Member" id="memberResultMapSingle"> -->
   <resultMap type="fil.iagl.cookorico.entity.Member" id="memberResultMapSingle">
    <id property='idMember' column='id_member'/>
    <result property='username' column='username'/>
    <result property='firstname' column='firstname'/>
    <result property='lastname' column='lastname'/>
    <result property='email' column='email'/>
    <result property='birthday' column='birthday'/>
    <result property='gender' column='gender'/>
    <result property='city' column='city'/>
    <result property='currentAvatar.id' column='current_avatar'/>
    <result property='creationDate' column='creation_date'/>
    <result property='modifDate' column='modif_date'/>
    <result property='disabled' column='disabled'/>
  </resultMap>
  
  
  
  <select id="getAllMembers" resultMap="memberResultMap">
    SELECT * FROM member
  </select>
  
  <select id="getMemberWithCredentials" resultMap="memberResultMap">
  	SELECT * FROM member WHERE username = #{username} AND password = #{password}
  </select>
  
  <select id="getMemberWithUsername" parameterType="java.lang.String" resultMap="memberResultMap">
  	SELECT * FROM MEMBER WHERE username = #{username}
  </select>
  
  <select id="getMemberById" parameterType="int" resultType="fil.iagl.cookorico.entity.Member" resultMap="memberResultMap" >
  	SELECT * FROM member WHERE id_member = #{id}
  </select>
  
  <select id="getMemberByIdSingle" parameterType="int" resultType="fil.iagl.cookorico.entity.Member" resultMap="memberResultMapSingle" >
  	SELECT * FROM member WHERE id_member = #{id}
  </select>
  
  <insert id="addMember" parameterType="fil.iagl.cookorico.entity.Member">
  	INSERT INTO member(username, firstname, lastname, email, password<!--,birthday-->, gender, city<!--,current_avatar-->) 
  	VALUES(#{member.username}, #{member.firstname}, #{member.lastname}, #{member.email}, #{member.password}<!--, #{member.birthday}-->, #{member.gender}::gender, #{member.city} <!--, #{member.current_avatar}-->)
  </insert>

</mapper>