<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fil.iagl.cookorico.dao.PictureDao">

	<resultMap type="fil.iagl.cookorico.entity.Picture" id="pictureResultMap">
		<id property="id" column="id_photo" />
		<result property="idMember" column="fk_id_member" />
		<result property="filePath" column="file_path" />
		<result property="fileName" column="file_name" />
		<result property="title" column="title" />
		<result property="description" column="description" />
		<result property="creation_date" column="creation_date" />
		<result property="disabled" column="disabled" />
	</resultMap>
	
	<select id="getAllPictures" resultMap="pictureResultMap">
		SELECT * FROM picture
	</select>
	
	<select id="getMemberPicture" parameterType="Integer" resultType="fil.iagl.cookorico.entity.Picture">
		SELECT * FROM picture WHERE pic_fk_id_member=#{id_member}
	</select>

</mapper>