<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fil.iagl.cookorico.dao.PictureDao">

	<resultMap type="fil.iagl.cookorico.entity.Picture" id="pictureResultMap">
		<id property="idPicture" column="pic_id_picture" />
		<result property="filePath" column="pic_file_path" />
		<result property="fileName" column="pic_file_name" />
		<result property="title" column="pic_title" />
		<result property="description" column="pic_description" />
		<result property="creationDate" column="pic_creation_date" />
		<result property="disabled" column="pic_disabled" />
		<association property="member" column='pic_fk_id_member' select='fil.iagl.cookorico.dao.MemberDao.getMemberById' />
	</resultMap>
	
	<resultMap type="fil.iagl.cookorico.entity.Picture" id="singlePictureResultMap">
		<id property="idPicture" column="pic_id_picture" />
		<result property="filePath" column="pic_file_path" />
		<result property="fileName" column="pic_file_name" />
		<result property="title" column="pic_title" />
		<result property="description" column="pic_description" />
		<result property="creationDate" column="pic_creation_date" />
		<result property="disabled" column="pic_disabled" />
	</resultMap>
	
	<insert id="savePicture" parameterType="fil.iagl.cookorico.entity.Picture" useGeneratedKeys="true" keyProperty="picture.idPicture" keyColumn="pic_id_picture">
		INSERT INTO picture (pic_fk_id_member, pic_file_path, pic_file_name, pic_title, pic_description, pic_creation_date, pic_disabled)
		VALUES (#{picture.member.idMember}, #{picture.filePath}, #{picture.fileName}, #{picture.title}, #{picture.description}, #{picture.creationDate}, #{picture.disabled})
	</insert>
	
	<select id="delete" parameterType="fil.iagl.cookorico.entity.Picture" >
		DELETE FROM picture 
		WHERE pic_id_picture=#{picture.idPicture}
		AND pic_fk_id_member=#{picture.member.idMember}
		AND pic_file_path=#{picture.filePath}
		AND pic_file_name=#{picture.fileName}
		AND pic_title=#{picture.title}
		AND pic_description=#{picture.description}
		AND pic_creation_date=#{picture.creationDate}
		AND pic_disabled=#{picture.disabled}
	</select>

	<select id="getPictureById" parameterType="Integer" resultType="fil.iagl.cookorico.entity.Picture">
		SELECT * 
		FROM picture 
		WHERE pic_id_picture=#{idPicture}
	</select>

<!--
	<select id="getAllPictures" resultMap="pictureResultMap">
		SELECT * 
		FROM picture
	</select>

	<select id="getPicturesFromMemberId" parameterType="Integer" resultType="fil.iagl.cookorico.entity.Picture">
		SELECT * 
		FROM picture 
		WHERE pic_fk_id_member=#{idMember}
	</select>

	<select id="getPicturesOfIngredient" parameterType="Integer" resultType="fil.iagl.cookorico.entity.Picture">
		SELECT * 
		FROM picture 
		LEFT JOIN picture_of_ingredient ON pic_id_picture=poi_fk_id_picture
		WHERE poi_fk_id_ingredient=#{idIngredient}
	</select>
 -->

	<select id="getPictureByRecipeId" parameterType="Integer" resultMap="singlePictureResultMap">
        SELECT *
        FROM picture
        LEFT JOIN picture_in_recipe ON picture.pic_id_picture = picture_in_recipe.pir_fk_id_picture
        WHERE pir_fk_id_recipe = #{idRecipe}
    </select>

</mapper>