<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='fil.iagl.cookorico.dao.ProducerDao'>

	<resultMap type="fil.iagl.cookorico.entity.Producer" id="producerResultMap">
		<id property='idProducer' column='prd_id_producer' />
		<result property='name' column='prd_name' />
		<result property='city' column='prd_city' />
		<result property='description' column='prd_description' />
		<result property='picpath' column='prd_picpath' />
		<result property='creationDate' column='cmt_creation_date' />
		<result property='modifDate' column='cmt_modif_date' />
		<result property='validation' column='cmt_validation' />
		<result property='validator' column='cmt_validator' />
		<result property='disabled' column='cmt_disabled' />
		<collection property='ingredients' column="igd_id_ingredient"
			javaType="List" ofType="fil.iagl.cookorico.entity.Ingredient"
			resultMap="fil.iagl.cookorico.dao.IngredientDao.ingredientResultMap" />
	</resultMap>


	<resultMap type="fil.iagl.cookorico.entity.Producer" id="SingleProducerResultMap">
		<id property='idProducer' column='prd_id_producer' />
		<result property='name' column='prd_name' />
		<result property='city' column='prd_city' />
		<result property='description' column='prd_description' />
		<result property='picpath' column='prd_picpath' />
		<result property='creationDate' column='cmt_creation_date' />
		<result property='modifDate' column='cmt_modif_date' />
		<result property='validation' column='cmt_validation' />
		<result property='validator' column='cmt_validator' />
		<result property='disabled' column='cmt_disabled' />
	</resultMap>

	<sql id="select_all">
		SELECT *
		FROM producer
	</sql>

	<select id="getAllProducers" resultMap="producerResultMap">
		<include refid="select_all" />
	</select>
	
	<select id="getProducerByIngredientId" parameterType="int" resultMap="producerResultMap">
	</select>

	<select id="getProducersByIngredient" resultMap="producerResultMap"
		parameterType="int">
		SELECT * FROM producer LEFT JOIN ingredient_of_producer
		ON
		iop_fk_id_producer=prd_id_producer LEFT JOIN ingredient ON
		iop_fk_id_ingredient=igd_id_ingredient WHERE igd_id_ingredient =
		#{idIngredient};
	</select>

	<select id="getProducerById" resultMap="producerResultMap"
		parameterType="int">
		SELECT * FROM producer
		LEFT JOIN ingredient_of_producer
		ON iop_fk_id_producer=prd_id_producer
		LEFT JOIN ingredient ON
		iop_fk_id_ingredient=igd_id_ingredient
		WHERE prd_id_producer =
		#{idProducteur}
		;
	</select>

	<insert id="addProducer" parameterType="fil.iagl.cookorico.entity.Producer">
		INSERT INTO
		producer(prd_city, prd_name, prd_description) VALUES
		(#{producer.city}, #{producer.name}, #{producer.description})
	</insert>

	<select id="getRandomProducers" resultMap="producerResultMap"
		parameterType="int">
		SELECT * FROM producer
		ORDER BY RANDOM()
		LIMIT #{nb}
	</select>
	
	<insert id="addIngredientOfProduct" parameterType="fil.iagl.cookorico.entity.Producer">
		INSERT INTO ingredient_of_producer(iop_fk_id_ingredient, iop_fk_id_producer) values(#{id_ingredient}, #{id_producer}) 
	</insert>

</mapper>