<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='fil.iagl.cookorico.dao.RecipeStepDao'>

  <!-- <resultMap type="RecipeStep" id="recipeStepResultMapSingle"> -->
  <resultMap type="fil.iagl.cookorico.entity.RecipeStep" id="recipeStepResultMapSingle">
    <id property='idRecipeStep' column='id_recipe_step'/>
    <result property='recipe.id' column='fk_id_recipe'/>
    <result property='rank' column='rank'/>
    <result property='name' column='name'/>
    <result property='description' column='description'/>
    <result property='durationTime' column='duration_time'/>
    <result property='creationDate' column='creation_date'/> 
    <result property='modifDate' column='modif_date'/>
    <result property='disabled' column='disabled'/>
  </resultMap>
  
   
  <!-- <resultMap type="RecipeStep" id="recipeStepResultMap"> -->
  <resultMap type="fil.iagl.cookorico.entity.RecipeStep" id="recipeStepResultMap">
    <id property='idRecipeStep' column='id_recipe_step'/>
    <result property='rank' column='rank'/>
    <result property='name' column='name'/>
    <result property='description' column='description'/>
    <result property='durationTime' column='duration_time'/>
    <result property='creationDate' column='creation_date'/> 
    <result property='modifDate' column='modif_date'/>
    <result property='disabled' column='disabled'/>
    <association property='recipe' column='fk_id_recipe' select='fil.iagl.cookorico.dao.RecipeDao.getRecipeById' />
  </resultMap>
  
	

   <select id="getRecipeStepById" resultType="fil.iagl.cookorico.entity.RecipeStep" parameterType="int">
  	SELECT * FROM recipe_step WHERE id_recipe_step = #{id}
  </select>
  
  <select id="getRecipeStepByIdRecipe" resultType="fil.iagl.cookorico.entity.RecipeStep" parameterType="int">
  	SELECT * FROM recipe_step WHERE fk_id_recipe = #{id}
  </select>
  
  <insert id="addRecipeStep" parameterType="fil.iagl.cookorico.entity.RecipeStep">
  	INSERT INTO recipe_step(fk_id_recipe, rank, name, description, duration_time) VALUES(#{recipeStep.recipe.id}, #{recipeStep.rank}, #{recipeStep.name}, #{recipeStep.description}, #{recipeStep.durationTime})
  </insert>

</mapper>