<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='fil.iagl.cookorico.dao.RecipeDao'>

	<!-- <resultMap type="Recipe" id="recipeResultMap"> -->
	<resultMap type="fil.iagl.cookorico.entity.Recipe" id="recipeResultMap">
		<id property='idRecipe' column='rcp_id_recipe' />
		<result property='name' column='rcp_name' />
		<result property='description' column='rcp_description' />
		<result property='preparationTime' column='rcp_preparation_time' />
		<result property='cookingTime' column='rcp_cooking_time' />
		<result property='dishType' column='rcp_dish_type' />
		<result property='difficulty' column='rcp_difficulty' />
		<result property='draft' column='rcp_draft' />
		<result property='creationDate' column='rcp_creation_date' />
		<result property='modifDate' column='rcp_modif_date' />
		<result property='validation' column='rcp_validation' />
		<result property='disabled' column='rcp_disabled' />
		<result property='experienceVal' column='rcp_experience_val' />
		<association property='creator' resultMap="fil.iagl.cookorico.dao.MemberDao.memberResultMap" />
		<!-- validator posera soucis tout de même avec les nom car il a les meme colonne mbr_ que creator -->
		<!-- <association property='validator' resultMap="fil.iagl.cookorico.dao.AdministratorDao.administratorResultMap" />  -->
		<association property='mainPicture' resultMap="fil.iagl.cookorico.dao.PictureDao.pictureResultMap" />
		<!-- TO DO EVENTUEL, LISTE RECIPE STEPS?  -->
	</resultMap>

	<sql id="select_all">
		SELECT *
		FROM recipe
	</sql>

	<sql id="join_creator">
		LEFT JOIN member ON rcp_fk_creator=mbr_id_member
	</sql>
	
	<sql id="join_tags">
		LEFT JOIN tag_to_recipe ON ttr_fk_id_recipe=rcp_id_recipe
    	LEFT JOIN tag ON ttr_fk_id_tag=tag_id_tag
	</sql>
	
	<sql id="join_main_picture">
		LEFT JOIN picture_in_recipe ON rcp_main_picture=pir_id_picture_in_recipe
		LEFT JOIN picture ON pir_fk_id_picture=pic_id_picture
	</sql>
	
	
	<select id="getAllRecipes" resultMap="recipeResultMap">
		<include refid="select_all"/>
		<include refid="join_creator"/>
	</select>
	
	<select id="getFullRecipes" resultMap="recipeResultMap">
		<include refid="select_all"/>
		<include refid="join_creator"/>
		<include refid="join_main_picture"/>
		<include refid="join_tags"/>
	</select>
	
	  <select id="getAllRecipesWithMainPicture" resultMap="recipeResultMap">
	 	 <include refid="select_all"/>
		<include refid="join_creator"/>
		<include refid="join_main_picture"/>
	</select>
	
	<select id="getAllRecipesWithTags" resultMap="recipeResultMap">
		<include refid="select_all"/>
		<include refid="join_creator"/>
		<include refid="join_tags"/>
	</select>
  
  
	<select id="getRecipeById" parameterType="int" resultMap="recipeResultMap">
	    <include refid="select_all"/>
		<include refid="join_creator"/>
		<include refid="join_main_picture"/>
		WHERE rcp_id_recipe = #{id}
	</select>

	<select id="getRecipeWithName" resultType="fil.iagl.cookorico.entity.Recipe"
		parameterType="java.lang.String">
		SELECT * FROM recipe WHERE rcp_name = #{name}
	</select>


	<insert id="addRecipe" parameterType="fil.iagl.cookorico.entity.Recipe">
		INSERT INTO recipe(rcp_name,
		rcp_description, rcp_preparation_time,
		rcp_cooking_time, rcp_experience_val,
		rcp_fk_creator)
		VALUES(#{recipe.name}, #{recipe.description},
		#{recipe.preparationTime}, #{recipe.cookingTime},
		#{recipe.experience_val}, #{recipe.creator.idMember})
	</insert>

</mapper>



<!-- 
<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BlogBestPractice">


	<resultMap id="resultBlog" type="Blog">
		<id property="id" column="idBlog" />
		<result property="name" column="blogName" />
		<result property="url" column="url" />
		<association property="author" column="idBlog" javaType="Author">
			<id property="id" column="idAuthor" />
			<result property="name" column="authorName" />
			<result property="email" column="email" />
		</association>
		<collection property="posts" column="idBlog" javaType="ArrayList" ofType="Post">
			<id property="id" column="idPost" />
			<result property="title" column="title" />
			<collection property="tags" column="idBlog" javaType="ArrayList" ofType="Tag">
				<id property="id" column="idTag" />
				<result property="value" column="value" />
			</collection>
		</collection>
	</resultMap>
	
	
	<select id="selectBlogBestPractice" resultMap="resultBlog"> 
	    SELECT B.idBlog as idBlog, 
	    B.name as blogName, 
	    B.url as url, 
	    A.idAuthor as idAuthor,
		A.name as authorName, 
		A.email as email , 
		P.idPost as idPost, 
		P.title as title, 
		T.idTag as idTag, 
		T.value as value 
		FROM BLOG as B 
		left outer join Author A on B.idBlog = A.idBlog 
		left outer join Post P on P.idBlog = B.idBlog 
		left outer join Post_Tag PT on P.idPost = PT.idPost 
		left outer join Tag T on PT.idTag = T.idTag
	</select>
		
		
</mapper>

<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Blog">

	<resultMap id="resultBlog" type="Blog">
		<id property="id" column="idBlog" />
		<result property="name" column="blogname" />
		<result property="url" column="blogurl" />
		<association property="author" column="idBlog" javaType="Author" select="selectAuthor" />
		<collection property="posts" column="idBlog" javaType="ArrayList" ofType="Post" select="selectPosts" resultMap="resultTag" />
	</resultMap>
	
	<resultMap id="resultPosts" type="Post">
		<id property="id" column="idPost" />
		<result property="title" column="title" />
		<collection property="tags" column="idPost" javaType="ArrayList" ofType="Tag" resultMap="resultTag" />
	</resultMap>
	
	<resultMap id="resultTag" type="Tag">
		<id property="id" column="idTag" />
		<result property="value" column="value" />
	</resultMap>
	
	<select id="selectBlog" resultMap="resultBlog"> SELECT idBlog, name as blogname, url as blogurl FROM BLOG    </select>
		
	<select id="selectAuthor" parameterType="int" resultType="Author"> SELECT
		idAuthor as id, name, email FROM AUTHOR WHERE idBlog = #{idBlog}
	</select>
	
	<select id="selectPosts" parameterType="int" resultType="Post" resultMap="resultPosts">
		SELECT P.idPost as idPost, P.title as title, T.idTag as
		idTag, T.value as value FROM Post P left outer join Post_Tag PT on
		P.idPost = PT.idPost left outer join Tag T on PT.idTag = T.idTag WHERE
		P.idBlog = #{idBlog}   </select>
		
</mapper>
-->

