<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fil.iagl.cookorico.dao.TasteDao">

	<resultMap type="fil.iagl.cookorico.entity.Taste" id="tasteResultMap">
	<id property='idTaste' column='tst_id_taste'/>
	<result property='grading' column='tst_grading'/>
	<result property='creationDate' column='tst_creationDate'/>
	<result property='modifDate' column='tst_modif_date' />
	<association property='member' resultMap="fil.iagl.cookorico.dao.MemberDao.memberResultMap" />
	<association property='ingredient' resultMap="fil.iagl.cookorico.dao.IngredientDao.ingredientResultMap" />
	
	</resultMap>
	
	<select id="getTastesByMember" resultMap="tasteResultMap" parameterType="Integer">
    	Select * 
    	from taste 
    	left join ingredient on tst_fk_id_ingredient=igd_id_ingredient
    	LEFT JOIN picture_of_ingredient ON igd_main_picture=poi_id_picture_of_ingredient
   		LEFT JOIN picture ON poi_fk_id_picture=pic_id_picture
    	where tst_fk_id_member=#{id}
	</select>
	
	<select id="getAllTaste" resultMap="tasteResultMap">
		SELECT * FROM taste
	</select>
	
	 <insert id="addTaste" parameterType="fil.iagl.cookorico.entity.Taste">
		INSERT INTO taste(tst_fk_id_member, tst_fk_id_ingredient, tst_grading) 
		VALUES(#{taste.member.idMember}, #{taste.ingredient.idIngredient}, #{taste.grading})
	</insert>
	
	<update id="updateTaste" parameterType="fil.iagl.cookorico.entity.Taste">
		UPDATE taste
		SET tst_grading = #{taste.grading}
		WHERE tst_fk_id_member = #{taste.member.idMember} AND tst_fk_id_ingredient = #{taste.ingredient.idIngredient}
	</update>
	
</mapper>